.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;

    padding-bottom: 50px;
}

.grid-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-b__menu__list {
    list-style-type: none;
}