$color-black-out:       #222222;
$color-abbadon-black:   #231F20;
$color-black:           #000000;
$color-bleached-silk:   #F2F2F2;
$color-hotot-bunny:     #F1F1F2;
$color-dr-white:        #FAFAFA;
$color-white:           #FFFFFF;
$color-miami-marmalade: #F7941E;


$color-white:           #FFFFFF;
$color-redmain:         #FF2020;
$color-bluemain:        #2094FF; 
